.about {
  text-align: center;
  div {
    h1 {
      font-size: 1.8rem;
      padding: 0 40px;
      color: $primary-color-text;
    }

    p {
      text-justify: auto;
      margin-top: 1rem;
      padding: 0 35px;
      color: $secondary-color-text;
      @include media(">tablet") {
        padding-right: 40% !important;
      }
    }

    @include media(">tablet") {
      h1,
      p {
        padding: 0;
      }
    }
  }

  &-list {
    margin-top: 50px;
    list-style-type: none;
    padding-left: 20px;
    text-align: start;
    li {
      margin-bottom: 50px;
      * {
        padding: 0;
      }

      h2 {
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        background-color: $secondary-color-button;
        padding: 5px 0px 8px;
        font-size: 1rem;
        color: $primary-color-text;
        @include media(">tablet") {
          background-color: transparent;
        }
        span {
          margin-right: 10px;
          padding: 5px 25px 8px;
          background-color: $primary-color;
          color: white;
          border-radius: 100px;
          font-weight: 500;
        }
      }
      p {
        margin-top: 0.5rem;
        font-size: 0.9rem;
        padding-right: 20px;
        color: $secondary-color-text;
        line-height: 1.8;
        @include media(">tablet") {
          padding-right: 0;
          padding-left: 20%;
        }
      }
    }
    @include media(">tablet") {
      margin-top: 0;
      padding-left: 0;
    }
  }

  @include media(">tablet") {
    display: grid;
    width: 100%;
    padding: 0 10vw;
    // padding: 0;
    grid-template-columns: auto auto;
    align-items: flex-start;
    column-gap: 15vw;
    text-align: start;
  }
}
