.footer {
  padding: 40px 20px 20px;
  background-color: $secondary-color-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-search {
    display: flex;
    input {
      padding: 12px 25px;
      border: none;
      border-radius: 100px;
      width: 230px;
    }

    button {
      margin-left: 5px;
      width: 50px;
      height: 100%;
      background-color: $primary-color;
      border: none;
      height: 100%;
      border-radius: 100px;
      padding: 12px 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
    }
  }

  &-nav {
    margin: 50px 0;
    display: flex;
    width: 100%;
    justify-content: space-around;

    ul {
      list-style-type: none;
      padding: 0;
      line-height: 2;

      li a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
      }
    }
  }

  &-socials {
    margin-bottom: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;

    img {
      width: 2rem;
    }
  }

  p {
    margin-top: 50px;
    font-size: 0.7rem;
    color: $secondary-color-text;
    @include media(">tablet") {
      grid-area: 2/3;
      padding-left: 10%;
    }
  }

  @include media(">tablet") {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 100%;
    justify-content: space-between;
    padding: 50px 10vw;
    align-items: flex-start;
    .footer-logo {
      grid-area: 1/1;
    }

    &-socials {
      grid-area: 2/1;
      img {
        width: 1.2rem;
      }
    }

    &-nav {
      grid-area: 1/2;
      margin: 0;
      column-gap: 100px;
      row-gap: 80px;
    }
  }
}
